In [8]:
import pandas as pd
import numpy as np

In [9]:
atributos = pd.read_csv('pokemon_attributes.csv')
status = pd.read_csv('pokemon_stats.csv')
tipo = pd.read_csv('pokemon_type.csv')

In [10]:
atributos.head()

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN
1,1,Staryu,120.0,Star Shape Pokémon,34.5,0.80,NaN,NaN,34500.0
2,2,Squirtle,7.0,Tiny Turtle Pokémon,9.0,0.50,87.5,12.5,9000.0
3,3,Snorlax,143.0,Sleeping Pokémon,460.0,2.11,87.5,12.5,460000.0
4,4,Seadra,117.0,Dragon Pokémon,25.0,1.20,50.0,50,25000.0

In [11]:
atributos.shape

(1015, 9)

In [12]:
atributos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1015 non-null   int64
 1   name                1015 non-null   object
 2   ndex                1010 non-null   float64
 3   pokemon_species     1015 non-null   object
 4   pokemon_weight_kg   909 non-null    float64
 5   pokemon_height_m    1003 non-null   float64
 6   pokemon_male        862 non-null    float64
 7   pokemon_female      863 non-null    object
 8   pokemon_weight_grs  910 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 71.5+ KB

In [13]:
status.head()

,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
1,6,Charizard,Mega Charizard X,634,78,130,111,130,85,100
2,6,Charizard,Mega Charizard Y,634,78,104,78,159,115,100
3,9,Blastoise,Mega Blastoise,630,79,103,120,135,115,78
4,15,Beedrill,Mega Beedrill,495,65,150,40,15,80,145

In [14]:
status.shape

(1194, 10)

In [15]:
status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   podedex_index  1194 non-null   int64
 1   name           1194 non-null   object
 2   form           1194 non-null   object
 3   total          1194 non-null   int64
 4   hp             1194 non-null   int64
 5   attack         1194 non-null   int64
 6   defense        1194 non-null   int64
 7   sp_atk         1194 non-null   int64
 8   sp_def         1194 non-null   int64
 9   speed          1194 non-null   int64
dtypes: int64(8), object(2)
memory usage: 93.4+ KB

In [16]:
tipo.head()

      name   ndex  tipo_1 tipo_2
0  Seaking  119.0   water    bug
1  Grovyle  253.0   grass    bug
2  Armaldo  348.0    rock    bug
3  Anorith  347.0    rock    bug
4  Skorupi  451.0  poison    bug

In [17]:
tipo.shape

(1015, 4)

In [18]:
tipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1015 non-null   object
 1   ndex    1010 non-null   float64
 2   tipo_1  1015 non-null   object
 3   tipo_2  765 non-null    object
dtypes: float64(1), object(3)
memory usage: 31.8+ KB

In [19]:
a=pd.merge(atributos,tipo,on='ndex') # mergea 2 de los archivos teniendo la columna 'ndex' como parámetro

In [20]:
atributos.head()

,Unnamed: 0,name,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN
1,1,Staryu,120.0,Star Shape Pokémon,34.5,0.80,NaN,NaN,34500.0
2,2,Squirtle,7.0,Tiny Turtle Pokémon,9.0,0.50,87.5,12.5,9000.0
3,3,Snorlax,143.0,Sleeping Pokémon,460.0,2.11,87.5,12.5,460000.0
4,4,Seadra,117.0,Dragon Pokémon,25.0,1.20,50.0,50,25000.0

In [21]:
tipo.head()

      name   ndex  tipo_1 tipo_2
0  Seaking  119.0   water    bug
1  Grovyle  253.0   grass    bug
2  Armaldo  348.0    rock    bug
3  Anorith  347.0    rock    bug
4  Skorupi  451.0  poison    bug

In [22]:
a.head()

,Unnamed: 0,name_x,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,name_y,tipo_1,tipo_2
0,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,Fezandipiti,unknown,NaN
1,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,Okidogi,unknown,NaN
2,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,Munkidori,unknown,NaN
3,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,Ogerpon,unknown,NaN
4,0,Fezandipiti,NaN,unknown,NaN,NaN,NaN,NaN,NaN,Terapagos,unknown,NaN

In [23]:
pokedex = pd.merge(a, status, left_on='ndex', right_on='podedex_index') # mergea el archivo a, con el archivo pokemon faltante, matcheando 'ndex' con 'podedex_index'

In [24]:
pokedex.shape

(1194, 22)

In [25]:
pokedex.head(15)

,Unnamed: 0,name_x,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,name_y,...,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
0,1,Staryu,120.0,Star Shape Pokémon,34.5,0.80,NaN,NaN,34500.0,Staryu,...,120,Staryu,default,340,30,45,55,70,55,85
1,2,Squirtle,7.0,Tiny Turtle Pokémon,9.0,0.50,87.5,12.5,9000.0,Squirtle,...,7,Squirtle,default,314,44,48,65,50,64,43
2,3,Snorlax,143.0,Sleeping Pokémon,460.0,2.11,87.5,12.5,460000.0,Snorlax,...,143,Snorlax,default,540,160,110,65,65,110,30
3,4,Seadra,117.0,Dragon Pokémon,25.0,1.20,50.0,50,25000.0,Seadra,...,117,Seadra,default,440,55,65,95,95,45,85
4,5,Raichu,26.0,Mouse Pokémon,30.0,0.80,50.0,50,30000.0,Raichu,...,26,Raichu,Alolan Raichu,485,60,85,50,95,85,110
5,5,Raichu,26.0,Mouse Pokémon,30.0,0.80,50.0,50,30000.0,Raichu,...,26,Raichu,default,485,60,90,55,90,80,110
6,6,Porygon,137.0,Virtual Pokémon,36.5,0.80,NaN,NaN,36500.0,Porygon,...,137,Porygon,default,395,65,60,70,85,75,40
7,7,Poliwhirl,61.0,Tadpole Pokémon,20.0,1.00,50.0,50,20000.0,Poliwhirl,...,61,Poliwhirl,default,385,65,65,65,50,50,90
8,8,Psyduck,54.0,Duck Pokémon,19.6,0.80,50.0,50,19600.0,Psyduck,...,54,Psyduck,default,320,50,52,48,65,50,55
9,9,Poliwag,60.0,Tadpole Pokémon,12.4,0.60,50.0,50,12400.0,Poliwag,...,60,Poliwag,default,300,40,50,40,40,40,90
10,10,Pinsir,127.0,Stag Beetle Pokémon,55.0,1.50,50.0,50,55000.0,Pinsir,...,127,Pinsir,Mega Pinsir,600,65,155,120,65,90,105
11,10,Pinsir,127.0,Stag Beetle Pokémon,55.0,1.50,50.0,50,55000.0,Pinsir,...,127,Pinsir,default,500,65,125,100,55,70,85
12,11,Pikachu,25.0,Mouse Pokémon,6.0,0.40,50.0,50,6000.0,Pikachu,...,25,Pikachu,Partner Pikachu,430,45,80,50,75,60,120
13,11,Pikachu,25.0,Mouse Pokémon,6.0,0.40,50.0,50,6000.0,Pikachu,...,25,Pikachu,default,320,35,55,40,50,50,90
14,12,Muk,89.0,Sludge Pokémon,30.0,1.20,50.0,50,30000.0,Muk,...,89,Muk,Alolan Muk,500,105,105,75,65,100,50

In [26]:
pokedex= pokedex.sort_values(by='ndex') # ordenamos la información de manera creciente teniendo 'ndex' como parámetro

In [27]:
pokedex.head(15)

,Unnamed: 0,name_x,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,name_y,...,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
270,238,Bulbasaur,1.0,Seed Pokémon,6.9,0.70,87.5,12.5,6900.0,Bulbasaur,...,1,Bulbasaur,default,318,45,49,49,65,65,45
366,309,Ivysaur,2.0,Seed Pokémon,13.0,1.00,87.5,12.5,13000.0,Ivysaur,...,2,Ivysaur,default,405,60,62,63,80,80,60
279,245,Venusaur,3.0,Seed Pokémon,100.0,2.00,87.5,12.5,100000.0,Venusaur,...,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
280,245,Venusaur,3.0,Seed Pokémon,100.0,2.00,87.5,12.5,100000.0,Venusaur,...,3,Venusaur,default,525,80,82,83,100,100,80
1104,930,Charmander,4.0,Lizard Pokémon,8.5,0.61,87.5,12.5,8500.0,Charmander,...,4,Charmander,default,309,39,52,43,60,50,65
1101,927,Charmeleon,5.0,Flame Pokémon,19.0,1.10,87.5,12.5,19000.0,Charmeleon,...,5,Charmeleon,default,405,58,64,58,80,65,80
263,233,Charizard,6.0,Flame Pokémon,90.5,1.70,87.5,12.5,90500.0,Charizard,...,6,Charizard,default,534,78,84,78,109,85,100
262,233,Charizard,6.0,Flame Pokémon,90.5,1.70,87.5,12.5,90500.0,Charizard,...,6,Charizard,Mega Charizard Y,634,78,104,78,159,115,100
261,233,Charizard,6.0,Flame Pokémon,90.5,1.70,87.5,12.5,90500.0,Charizard,...,6,Charizard,Mega Charizard X,634,78,130,111,130,85,100
1,2,Squirtle,7.0,Tiny Turtle Pokémon,9.0,0.50,87.5,12.5,9000.0,Squirtle,...,7,Squirtle,default,314,44,48,65,50,64,43
254,228,Wartortle,8.0,Turtle Pokémon,22.5,1.00,87.5,12.5,22500.0,Wartortle,...,8,Wartortle,default,405,59,63,80,65,80,58
251,226,Blastoise,9.0,Shellfish Pokémon,85.5,1.60,87.5,12.5,85500.0,Blastoise,...,9,Blastoise,Mega Blastoise,630,79,103,120,135,115,78
252,226,Blastoise,9.0,Shellfish Pokémon,85.5,1.60,87.5,12.5,85500.0,Blastoise,...,9,Blastoise,default,530,79,83,100,85,105,78
36,29,Caterpie,10.0,Worm Pokémon,2.9,0.30,50.0,50,2900.0,Caterpie,...,10,Caterpie,default,195,45,30,35,20,20,45
348,294,Metapod,11.0,Cocoon Pokémon,9.9,0.70,50.0,50,9900.0,Metapod,...,11,Metapod,default,205,50,20,55,25,25,30

In [28]:
pokedex['ndex'] = pokedex['ndex'].astype(int) # convertimos 'ndex' en int

In [29]:
pokedex.head()

,Unnamed: 0,name_x,ndex,pokemon_species,pokemon_weight_kg,pokemon_height_m,pokemon_male,pokemon_female,pokemon_weight_grs,name_y,...,podedex_index,name,form,total,hp,attack,defense,sp_atk,sp_def,speed
270,238,Bulbasaur,1,Seed Pokémon,6.9,0.70,87.5,12.5,6900.0,Bulbasaur,...,1,Bulbasaur,default,318,45,49,49,65,65,45
366,309,Ivysaur,2,Seed Pokémon,13.0,1.00,87.5,12.5,13000.0,Ivysaur,...,2,Ivysaur,default,405,60,62,63,80,80,60
279,245,Venusaur,3,Seed Pokémon,100.0,2.00,87.5,12.5,100000.0,Venusaur,...,3,Venusaur,Mega Venusaur,625,80,100,123,122,120,80
280,245,Venusaur,3,Seed Pokémon,100.0,2.00,87.5,12.5,100000.0,Venusaur,...,3,Venusaur,default,525,80,82,83,100,100,80
1104,930,Charmander,4,Lizard Pokémon,8.5,0.61,87.5,12.5,8500.0,Charmander,...,4,Charmander,default,309,39,52,43,60,50,65

In [30]:
pokedex.columns # para ver columnas duplicadas

Index(['Unnamed: 0', 'name_x', 'ndex', 'pokemon_species', 'pokemon_weight_kg',
       'pokemon_height_m', 'pokemon_male', 'pokemon_female',
       'pokemon_weight_grs', 'name_y', 'tipo_1', 'tipo_2', 'podedex_index',
       'name', 'form', 'total', 'hp', 'attack', 'defense', 'sp_atk', 'sp_def',
       'speed'],
      dtype='object')

In [31]:
pokedex= pokedex.drop(columns=['podedex_index', 'name_y', 'name', 'Unnamed: 0']) # eliminamos columnas duplicadas

In [32]:
pokedex.columns

Index(['name_x', 'ndex', 'pokemon_species', 'pokemon_weight_kg',
       'pokemon_height_m', 'pokemon_male', 'pokemon_female',
       'pokemon_weight_grs', 'tipo_1', 'tipo_2', 'form', 'total', 'hp',
       'attack', 'defense', 'sp_atk', 'sp_def', 'speed'],
      dtype='object')

In [33]:
print(sum(pokedex['pokemon_weight_kg'].isnull()))

125

In [34]:
print(sum(pokedex['pokemon_weight_grs'].isnull()))

117

In [35]:
pokedex.shape

(1194, 18)

In [36]:
pokedex['pokemon_weight']= pokedex['pokemon_weight_grs']/1000 # dividimos el peso en gramos en 1000 para tener el peso en kg

In [37]:
pokedex['weight']= pokedex['pokemon_weight_kg'].where(pokedex['pokemon_weight'].isna(),pokedex['pokemon_weight']) # en donde el peso de pokemon_weight_kg no tenga valor, se tomará el valor de pokemon_weight

In [38]:
pokedex['weight']

270       6.9
366      13.0
279     100.0
280     100.0
1104      8.5
        ...
1142     35.0
1140    303.0
1137    240.0
1107    280.0
1146    125.0
Name: weight, Length: 1194, dtype: float64

In [39]:
print(sum(pokedex['weight'].isnull()))

27

In [40]:
pokedex.columns

Index(['name_x', 'ndex', 'pokemon_species', 'pokemon_weight_kg',
       'pokemon_height_m', 'pokemon_male', 'pokemon_female',
       'pokemon_weight_grs', 'tipo_1', 'tipo_2', 'form', 'total', 'hp',
       'attack', 'defense', 'sp_atk', 'sp_def', 'speed', 'pokemon_weight',
       'weight'],
      dtype='object')

In [41]:
pokedex= pokedex.drop(columns=['pokemon_weight_kg', 'pokemon_weight_grs', 'pokemon_weight']) # eliminamos columnas que utlizamos para procesar el peso

In [42]:
pokedex.columns

Index(['name_x', 'ndex', 'pokemon_species', 'pokemon_height_m', 'pokemon_male',
       'pokemon_female', 'tipo_1', 'tipo_2', 'form', 'total', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'weight'],
      dtype='object')

In [43]:
pokedex= pokedex.drop_duplicates(subset=['ndex']) # eliminamos los duplicados teniendo como parámetro la columna 'ndex'

In [44]:
pokedex.shape

(1010, 17)

In [45]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1010 entries, 270 to 1146
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name_x            1010 non-null   object
 1   ndex              1010 non-null   int32
 2   pokemon_species   1010 non-null   object
 3   pokemon_height_m  1003 non-null   float64
 4   pokemon_male      862 non-null    float64
 5   pokemon_female    863 non-null    object
 6   tipo_1            1010 non-null   object
 7   tipo_2            765 non-null    object
 8   form              1010 non-null   object
 9   total             1010 non-null   int64
 10  hp                1010 non-null   int64
 11  attack            1010 non-null   int64
 12  defense           1010 non-null   int64
 13  sp_atk            1010 non-null   int64
 14  sp_def            1010 non-null   int64
 15  speed             1010 non-null   int64
 16  weight            990 non-null    float64
dtypes: float64(3), int32(1), int64(7), object(6)
memory usage: 138.1+ KB

In [46]:
print(pokedex)

            name_x  ndex  pokemon_species  pokemon_height_m  pokemon_male  \
270      Bulbasaur     1     Seed Pokémon              0.70          87.5
366        Ivysaur     2     Seed Pokémon              1.00          87.5
279       Venusaur     3     Seed Pokémon              2.00          87.5
1104    Charmander     4   Lizard Pokémon              0.61          87.5
1101    Charmeleon     5    Flame Pokémon              1.10          87.5
...            ...   ...              ...               ...           ...
1142  Iron Valiant  1006  Paradox Pokémon              1.40           NaN
1140      Koraidon  1007  Paradox Pokémon              2.50           NaN
1137      Miraidon  1008  Paradox Pokémon              3.50           NaN
1107  Walking Wake  1009  Paradox Pokémon              3.50           NaN
1146   Iron Leaves  1010  Paradox Pokémon              1.50           NaN

     pokemon_female    tipo_1    tipo_2           form  total   hp  attack  \
270            12.5     grass    poison        default    318   45      49
366            12.5     grass    poison        default    405   60      62
279            12.5     grass    poison  Mega Venusaur    625   80     100
1104           12.5      fire    normal        default    309   39      52
1101           12.5      fire    normal        default    405   58      64
...             ...       ...       ...            ...    ...  ...     ...
1142            NaN     fairy  fighting        default    590   74     130
1140            NaN  fighting    dragon        default    670  100     135
1137            NaN  electric    dragon        default    670  100      85
1107            NaN     water    dragon        default    590   99      83
1146            NaN     grass   psychic        default    590   90     130

      defense  sp_atk  sp_def  speed  weight
270        49      65      65     45     6.9
366        63      80      80     60    13.0
279       123     122     120     80   100.0
1104       43      60      50     65     8.5
1101       58      80      65     80    19.0
...       ...     ...     ...    ...     ...
1142       90     120      60    116    35.0
1140      115      85     100    135   303.0
1137      100     135     115    135   240.0
1107       91     125      83    109   280.0
1146       88      70     108    104   125.0

[1010 rows x 17 columns]

In [47]:
import openpyxl

In [48]:
pokedex.to_excel('pokedex1.xlsx') # exportamos el sheet

In [49]:
pokedex.isnull().sum(axis=0) # vemos los valores vacíos por columna

name_x                0
ndex                  0
pokemon_species       0
pokemon_height_m      7
pokemon_male        148
pokemon_female      147
tipo_1                0
tipo_2              245
form                  0
total                 0
hp                    0
attack                0
defense               0
sp_atk                0
sp_def                0
speed                 0
weight               20
dtype: int64

In [67]:
pokedex2 = pd.read_csv('pokedex3.csv', encoding='latin1', sep= ';', decimal=',') # importamos el nuevo archivo con los valores completos

In [69]:
pokedex2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1010 non-null   int64
 1   name_x            1010 non-null   object
 2   ndex              1010 non-null   int64
 3   pokemon_species   1010 non-null   object
 4   pokemon_height_m  1010 non-null   object
 5   pokemon_male      862 non-null    float64
 6   pokemon_female    862 non-null    object
 7   tipo_1            1010 non-null   object
 8   tipo_2            765 non-null    object
 9   form              1010 non-null   object
 10  total             1010 non-null   int64
 11  hp                1010 non-null   int64
 12  attack            1010 non-null   int64
 13  defense           1010 non-null   int64
 14  sp_atk            1010 non-null   int64
 15  sp_def            1010 non-null   int64
 16  speed             1010 non-null   int64
 17  weight            1010 non-null   float64
dtypes: float64(2), int64(9), object(7)
memory usage: 142.2+ KB

In [70]:
pokedex2.columns

Index(['Unnamed: 0', 'name_x', 'ndex', 'pokemon_species', 'pokemon_height_m',
       'pokemon_male', 'pokemon_female', 'tipo_1', 'tipo_2', 'form', 'total',
       'hp', 'attack', 'defense', 'sp_atk', 'sp_def', 'speed', 'weight'],
      dtype='object')

In [71]:
pokedex2= pokedex2.drop(columns=['Unnamed: 0']) # eliminamos la columna 1

In [72]:
pokedex2.columns

Index(['name_x', 'ndex', 'pokemon_species', 'pokemon_height_m', 'pokemon_male',
       'pokemon_female', 'tipo_1', 'tipo_2', 'form', 'total', 'hp', 'attack',
       'defense', 'sp_atk', 'sp_def', 'speed', 'weight'],
      dtype='object')

In [73]:
pokedex2.describe() # calculamos las estadísticas de todas las columnas numéricas

,ndex,pokemon_male,total,hp,attack,defense,sp_atk,sp_def,speed,weight
count,1010.000000,862.000000,1010.000000,1010.000000,1010.000000,1010.000000,1010.000000,1010.000000,1010.000000,1010.000000
mean,505.500000,54.800116,429.298020,70.057426,78.471287,72.890099,70.185149,70.458416,67.235644,66.667901
std,291.706188,20.080264,116.409172,27.000618,31.468796,30.024186,30.494835,27.140145,29.276575,120.473038
min,1.000000,0.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,0.100000
25%,253.250000,50.000000,320.750000,50.000000,55.000000,50.000000,47.000000,50.000000,45.000000,8.500000
50%,505.500000,50.000000,450.000000,67.000000,75.000000,70.000000,65.000000,66.500000,65.000000,28.200000
75%,757.750000,50.000000,510.000000,83.000000,100.000000,90.000000,90.000000,86.000000,87.750000,70.000000
max,1010.000000,100.000000,780.000000,255.000000,190.000000,230.000000,180.000000,230.000000,200.000000,999.900000

In [74]:
lista= pokedex2.select_dtypes(include=['object']).columns.tolist() # selecciona columnas categóricas (no numéricas) y las pone en una lista
for i in lista: # itero en la lista de columnas categóricas
    print(i) # imprime el valor del índice de la lista de columnas
    print(pokedex2[i].nunique()) # cuenta los valores únicos de cada columna
    # print()

name_x
1010
pokemon_species
713
pokemon_height_m
66
pokemon_female
8
tipo_1
18
tipo_2
18
form
91

In [75]:
pokedex2.shape

(1010, 17)

In [76]:
lista= pokedex2.columns.tolist()
for i in lista:
    print(i)
    print(pokedex2[i].isna().sum())

name_x
0
ndex
0
pokemon_species
0
pokemon_height_m
0
pokemon_male
148
pokemon_female
148
tipo_1
0
tipo_2
245
form
0
total
0
hp
0
attack
0
defense
0
sp_atk
0
sp_def
0
speed
0
weight
0

In [77]:
# por_tipo = pokedex2.loc[(pokedex2['tipo1'] == "tipo" )& (pokedex2["tipo"])]

In [78]:
pokedex2.groupby('tipo_1')['weight'].mean()

tipo_1
bug          32.348193
dark         78.382222
dragon      104.967568
electric     45.077414
fairy        37.151724
fighting     75.099500
fire         65.385937
flying       35.010000
ghost        55.611429
grass        31.534286
ground      131.317500
ice         133.048387
normal       44.519402
poison       63.884211
psychic      52.690000
rock        119.264912
steel       195.682353
water        54.813284
Name: weight, dtype: float64

In [79]:
pokedex2['pokemon_height_m'] = pokedex2['pokemon_height_m'].astype(int)

ValueError: invalid literal for int() with base 10: '0,7'

In [ ]:
pokedex2.groupby('tipo_1')['pokemon_height_m'].mean()

TypeError: Could not convert 0,30,71,10,30,610,3111,51,51,511,40,51,11,20,61,21,80,61,50,30,610,71,20,50,80,50,80,80,70,60,310,20,50,90,31,21,90,30,51,20,30,92,50,31,40,510,10,80,40,80,31,11,61,50,30,31,20,40,51,70,10,20,522,41,80,40,40,41,80,310,210,20,33,2 to numeric

In [80]:
pokedex2.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name_x            1010 non-null   object
 1   ndex              1010 non-null   int64
 2   pokemon_species   1010 non-null   object
 3   pokemon_height_m  1010 non-null   object
 4   pokemon_male      862 non-null    float64
 5   pokemon_female    862 non-null    object
 6   tipo_1            1010 non-null   object
 7   tipo_2            765 non-null    object
 8   form              1010 non-null   object
 9   total             1010 non-null   int64
 10  hp                1010 non-null   int64
 11  attack            1010 non-null   int64
 12  defense           1010 non-null   int64
 13  sp_atk            1010 non-null   int64
 14  sp_def            1010 non-null   int64
 15  speed             1010 non-null   int64
 16  weight            1010 non-null   float64
dtypes: float64(2), int64(8), object(7)
memory usage: 134.3+ KB